<div class="col m7 s12">
  <h3 class="fade-in-right">The Movie Title</h3>
  <div class="row">
    <div class="col m3 fade-in-right slower">
      2017-8-10
    </div>
  </div>
  <div class="row">
    <p class="flow-text col s12 fade-in-left slow">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni sapiente nemo tempora accusamus aliquam debitis cum sequi, praesentium culpa distinctio accusantium? Earum ad maiores dignissimos. Quaerat aut ipsa laboriosam!
    </p>
  </div>
</div>